---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'; 
import Play from '../components/icons/Play.astro';

---

<Layout title="Music">
		<Header />
	<section class="mt-20 ml-40 flex">
		<div class="h-[400px] w-[400px] flex-row">
			<img src="/public/16971477116771.jpg">
		</div>
		<div class="ml-20 mt-10">
			<h2 class="font-bold text-5xl border-solid" >NSLQVPM</h2>
			<h4 class="font-semibold text-4xl text-slate-50 mt-5">BAD BUNNY</h4>
			<img class="h-[150px] w-[150px] rounded-full mt-5" src="/public/BADBUNYY.webp">
			<div>
				<button class="bg-green-500/75 mt-4 text-white text-xl p-3 w-48 font-semibold"><Play class="text-white "></Play>LISTEN NOW
					
					
				</button>
				<button class="bg-transparent text-white ml-1 font-semibold border border-white p-3 w-48">SHARE</button>
			</div>
		</div>
		
		
	</section>
		
</Layout>


