---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'; 
import Play from '../components/icons/Play.astro';

---

<Layout title="Music">
		<Header />
	<section class="mt-20 ml-40 flex">
		<div class="h-[400px] w-[400px] flex-row border-black border-4">
			<img src="/public/bg.jpg">
		</div>
		<div class="ml-20 mt-10">
			<h2 class="font-bold text-5xl border-solid " >NSLQVPM</h2>
			<h4 class="font-semibold text-4xl text-slate-50 mt-5">BAD BUNNY</h4>
			<img class="h-[150px] w-[150px] rounded-full mt-5" src="/public/BADBUNYY.webp">
			<div class="flex h-16 w-[400px] items-center mt-10 ">
				<button class="bg-green-500/75  text-white text-xl p-3 w-48 font-semibold flex h-full hover:scale-110">
					<Play class="text-white "></Play>
					<h1 class="flex items-center h-full ">LISTEN NOW</h1>
				</button>
				<button class="bg-transparent text-white  font-semibold border border-white p-3 w-48 h-full ml-6 hover:scale-110">SHARE</button>
			</div>
		</div>
		
		
	</section>
		
</Layout>


